<h2>Visits</h2>

<form ng-submit="$ctrl.submit()">

    <h3>Available Hours</h3>
    <table class="table">
        <tr>
            <th>Vet</th>
            <th>Date</th>
        </tr>
        <tr ng-repeat="vet in $ctrl.vetList">
            <td class="col-sm-2">{{vet.firstName}} {{vet.lastName}}</td>
            <td style="white-space: pre-line" ng-repeat="date in vet.availableHours">{{date.timeDate + ' '}}</td>
        </tr>
    </table>

    <div class="form-group">
        <label>Date</label>
        <input type="datetime" class="form-control" ng-model='$ctrl.date'/>
    </div>

    <div class="form-group">
        <label>Vet</label>
        <select ng-options="vet.id as vet.firstName for vet in $ctrl.vetList track by vet.id" ng-model="$ctrl.vetId"></select>
    </div>

    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" ng-model="$ctrl.desc" style="resize:vertical;" required></textarea>
    </div>

    <div class="form-group">
        <button class="btn btn-default" type="submit">Add New Visit</button>
    </div>

</form>

<h3>Previous Visits</h3>
<table class="table">
    <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Vet</th>
        <th>Cancelled</th>
    </tr>
    <tr ng-repeat="v in $ctrl.visits">
        <td class="col-sm-2">{{v.date}}</td>
        <td style="white-space: pre-line">{{v.description}}</td>
        <td>TODO</td>
        <td class="col-sm-2">{{v.isCancelled}}</td>
    </tr>
</table>
